In [3]:
import pandas as pd
import numpy as np
import datetime
import matplotlib
import json
import requests
import time

In [4]:
from pandas_datareader import data, wb
import pandas_datareader.data as web

# Stock List from Wikipedia

In [3]:
wiki = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')

In [4]:
wiki1 = wiki[0]

In [6]:
wiki1

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",NaN,66740,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
3,ABMD,ABIOMED Inc,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
4,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...,...
500,YUM,Yum! Brands Inc,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,NaN
501,ZBRA,Zebra Technologies,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
502,ZBH,Zimmer Biomet Holdings,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,NaN
503,ZION,Zions Bancorp,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,NaN
504,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280,NaN

In [7]:
tickers = wiki1['Symbol']

In [9]:
ticker_list = list(tickers)

In [10]:
ticker_list[69] = 'BRK-B'
ticker_list[81] = 'BF-B'

# Time Series Data from Yahoo!

In [5]:
start = datetime.datetime(2010, 1, 1)
end = datetime.datetime(2019, 12, 31)

In [6]:
start

datetime.datetime(2010, 1, 1, 0, 0)

In [13]:
def data_pull(tick):
    df = web.DataReader(f'{tick}', 'yahoo', start, end)
    df['Company']= f'{tick}'
    return df

In [14]:
stock_df_list = []
for t in ticker_list: 
    print(t)
    tick = f'{t}'
    stock = data_pull(f'{t}')
    stock_df_list.append(stock)
    time.sleep(1)

MMM
ABT
ABBV
ABMD
ACN
ATVI
ADBE
AMD
AAP
AES
AFL
A
APD
AKAM
ALK
ALB
ARE
ALXN
ALGN
ALLE
AGN
ADS
LNT
ALL
GOOGL
GOOG
MO
AMZN
AMCR
AEE
AAL
AEP
AXP
AIG
AMT
AWK
AMP
ABC
AME
AMGN
APH
ADI
ANSS
ANTM
AON
AOS
APA
AIV
AAPL
AMAT
APTV
ADM
ARNC
ANET
AJG
AIZ
ATO
T
ADSK
ADP
AZO
AVB
AVY
BKR
BLL
BAC
BK
BAX
BDX
BRK-B
BBY
BIIB
BLK
BA
BKNG
BWA
BXP
BSX
BMY
AVGO
BR
BF-B
CHRW
COG
CDNS
CPB
COF
CPRI
CAH
KMX
CCL
CAT
CBOE
CBRE
CDW
CE
CNC
CNP
CTL
CERN
CF
SCHW
CHTR
CVX
CMG
CB
CHD
CI
XEC
CINF
CTAS
CSCO
C
CFG
CTXS
CLX
CME
CMS
KO
CTSH
CL
CMCSA
CMA
CAG
CXO
COP
ED
STZ
COO
CPRT
GLW
CTVA
COST
COTY
CCI
CSX
CMI
CVS
DHI
DHR
DRI
DVA
DE
DAL
XRAY
DVN
FANG
DLR
DFS
DISCA
DISCK
DISH
DG
DLTR
D
DOV
DOW
DTE
DUK
DRE
DD
DXC
ETFC
EMN
ETN
EBAY
ECL
EIX
EW
EA
EMR
ETR
EOG
EFX
EQIX
EQR
ESS
EL
EVRG
ES
RE
EXC
EXPE
EXPD
EXR
XOM
FFIV
FB
FAST
FRT
FDX
FIS
FITB
FE
FRC
FISV
FLT
FLIR
FLS
FMC
F
FTNT
FTV
FBHS
FOXA
FOX
BEN
FCX
GPS
GRMN
IT
GD
GE
GIS
GM
GPC
GILD
GL
GPN
GS
GWW
HRB
HAL
HBI
HOG
HIG
HAS
HCA
PEAK
HP
HSIC
HSY
HES
HPE
HLT
HFC
HOLX
HD
HON
HRL
HST
HPQ
HUM
HBAN
HII
IEX
IDXX
INFO
ITW
ILMN
IR
INTC
ICE
IBM
INCY
IP
IPG
IFF
INTU
ISRG
IVZ
IPGP
IQV
IRM
JKHY
J
JBHT
SJM
JNJ
JCI
JPM
JNPR
KSU
K
KEY
KEYS
KMB
KIM
KMI
KLAC
KSS
KHC
KR
LB
LHX
LH
LRCX
LW
LVS
LEG
LDOS
LEN
LLY
LNC
LIN
LYV
LKQ
LMT
L
LOW
LYB
MTB
M
MRO
MPC
MKTX
MAR
MMC
MLM
MAS
MA
MKC
MXIM
MCD
MCK
MDT
MRK
MET
MTD
MGM
MCHP
MU
MSFT
MAA
MHK
TAP
MDLZ
MNST
MCO
MS
MOS
MSI
MSCI
MYL
NDAQ
NOV
NTAP
NFLX
NWL
NEM
NWSA
NWS
NEE
NLSN
NKE
NI
NBL
JWN
NSC
NTRS
NOC
NLOK
NCLH
NRG
NUE
NVDA
NVR
ORLY
OXY
ODFL
OMC
OKE
ORCL
PCAR
PKG
PH
PAYX
PAYC
PYPL
PNR
PBCT
PEP
PKI
PRGO
PFE
PM
PSX
PNW
PXD
PNC
PPG
PPL
PFG
PG
PGR
PLD
PRU
PEG
PSA
PHM
PVH
QRVO
PWR
QCOM
DGX
RL
RJF
RTN
O
REG
REGN
RF
RSG
RMD
RHI
ROK
ROL
ROP
ROST
RCL
SPGI
CRM
SBAC
SLB
STX
SEE
SRE
NOW
SHW
SPG
SWKS
SLG
SNA
SO
LUV
SWK
SBUX
STT
STE
SYK
SIVB
SYF
SNPS
SYY
TMUS
TROW
TTWO
TPR
TGT
TEL
FTI
TFX
TXN
TXT
TMO
TIF
TJX
TSCO
TDG
TRV
TFC
TWTR
TSN
UDR
ULTA
USB
UAA
UA
UNP
UAL
UNH
UPS
URI
UTX
UHS
UNM
VFC
VLO
VAR
VTR
VRSN
VRSK
VZ
VRTX
VIAC
V
VNO
VMC
WRB
WAB
WMT
WBA
DIS
WM
WAT
WEC
WFC
WELL
WDC
WU
WRK
WY
WHR
WMB
WLTW
WYNN
XEL
XRX
XLNX
XYL
YUM
ZBRA
ZBH
ZION
ZTS

# Stock Time Series DataFrame Creation

In [118]:
def master_time_series(df_list):
    """Creates a master stock time series with uncleaned stock dataframes"""
    clean_stock_df_list = []
    for f in df_list:
        f = f.drop(columns=['High', 'Low', 'Open', 'Close', 'Volume'])
        f = f.rename(columns={'Adj Close': f.Company[0]})
        f = f.drop(columns='Company')
        clean_stock_df_list.append(f)
    master_df = pd.concat(clean_stock_df_list, axis=1)
    return master_df

In [17]:
master_df = master_time_series(stock_df_list)

NameError: name 'master_time_series' is not defined

In [120]:
master_df

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,63.519070,18.229385,NaN,8.740000,33.871223,10.193225,37.090000,9.700000,39.404591,10.778428,...,42.315849,14.500958,19.541086,20.047621,NaN,19.480558,28.670000,55.943844,12.080154,NaN
2010-01-05,63.121239,18.082108,NaN,8.530000,34.080551,10.211267,37.700001,9.710000,39.170380,10.668042,...,44.889477,14.328979,19.563721,19.794851,NaN,19.413939,28.620001,57.714798,12.506084,NaN
2010-01-06,64.016403,18.182526,NaN,8.400000,34.442860,10.157144,37.619999,9.570000,39.511925,10.557658,...,44.300659,14.356496,19.382580,19.660570,NaN,19.275148,28.400000,57.696159,13.593570,NaN
2010-01-07,64.062294,18.333153,NaN,8.400000,34.410656,9.913588,36.889999,9.470000,39.502171,10.565544,...,45.246735,14.294587,19.473154,19.463099,NaN,19.269602,27.690001,59.019741,15.116047,NaN
2010-01-08,64.513718,18.426876,NaN,8.230000,34.273785,9.832404,36.689999,9.430000,39.658298,10.865160,...,44.922569,14.301464,19.405233,19.747461,NaN,19.275148,27.600000,57.780052,14.871366,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-24,175.094406,86.910866,88.652267,172.300003,210.795059,58.810001,329.640015,46.540001,160.570007,19.620941,...,139.440002,62.860001,37.119595,98.064384,78.639999,99.882355,254.330002,150.629990,51.151428,132.728119
2019-12-26,175.005219,86.910866,88.632538,171.009995,211.233368,58.889999,331.200012,46.630001,159.270004,19.789745,...,140.940002,62.790001,37.228859,98.253563,78.599998,101.335838,254.419998,150.300003,51.280476,132.837952
2019-12-27,175.669205,87.030357,88.010933,169.270004,211.402710,59.189999,330.790009,46.180000,158.350006,19.839392,...,139.809998,63.119999,37.060001,97.994690,78.839996,101.445351,256.000000,150.009995,51.121651,133.057632
2019-12-30,174.252045,86.432899,87.339996,167.289993,209.828781,58.880001,328.339996,45.520000,159.119995,19.898972,...,139.380005,63.290001,36.900002,97.257889,78.739998,100.190964,254.110001,148.750000,51.389668,132.019150
2019-12-31,174.836746,86.492645,87.359734,170.589996,209.759064,59.419998,329.809998,45.860001,160.160004,19.759954,...,138.869995,63.490002,36.869999,97.347496,78.790001,100.280571,255.440002,149.679993,51.538563,132.158936

In [40]:
master=pd.read_csv('master_timeseries(not_filled).csv')

In [35]:
master=master.set_index('Date')

In [36]:
master.head(12)

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,63.519070,18.229385,NaN,8.74,33.871223,10.193225,37.090000,9.70,39.404591,10.778428,...,42.315849,14.500958,19.541086,20.047621,NaN,19.480558,28.670000,55.943844,12.080154,NaN
2010-01-05,63.121239,18.082108,NaN,8.53,34.080551,10.211267,37.700001,9.71,39.170380,10.668042,...,44.889477,14.328979,19.563721,19.794851,NaN,19.413939,28.620001,57.714798,12.506084,NaN
2010-01-06,64.016403,18.182526,NaN,8.40,34.442860,10.157144,37.619999,9.57,39.511925,10.557658,...,44.300659,14.356496,19.382580,19.660570,NaN,19.275148,28.400000,57.696159,13.593570,NaN
2010-01-07,64.062294,18.333153,NaN,8.40,34.410656,9.913588,36.889999,9.47,39.502171,10.565544,...,45.246735,14.294587,19.473154,19.463099,NaN,19.269602,27.690001,59.019741,15.116047,NaN
2010-01-08,64.513718,18.426876,NaN,8.23,34.273785,9.832404,36.689999,9.43,39.658298,10.865160,...,44.922569,14.301464,19.405233,19.747461,NaN,19.275148,27.600000,57.780052,14.871366,NaN
2010-01-11,64.253555,18.520599,NaN,8.08,34.241585,9.823382,36.209999,9.14,39.267963,10.936126,...,44.776997,14.439042,19.880728,19.542082,NaN,19.608242,27.690001,59.057018,14.961988,NaN
2010-01-12,64.307144,18.467043,NaN,7.89,34.024197,9.715136,35.660000,8.65,38.584877,10.809969,...,44.975479,14.611020,20.039242,18.997053,NaN,19.980204,27.660000,57.919865,14.545118,NaN
2010-01-13,64.100533,18.791168,NaN,7.96,34.410656,9.841425,36.279999,9.15,39.121586,11.101705,...,45.914948,14.838025,20.265669,19.162941,NaN,20.087729,28.049999,58.302021,14.816995,NaN
2010-01-14,63.886326,18.811560,NaN,8.25,34.716602,9.796321,35.900002,9.00,38.604382,11.109587,...,47.707890,14.865539,20.129810,19.044451,NaN,20.306011,28.129999,58.469799,15.143234,NaN
2010-01-15,63.786869,18.859140,NaN,8.05,34.467014,9.823382,35.869999,8.84,38.360432,11.070164,...,46.642712,14.727957,20.016594,18.578417,NaN,19.964586,27.910000,57.556351,14.735433,NaN
2010-01-19,65.125786,19.100449,NaN,8.35,35.223824,9.778279,36.950001,9.01,38.545841,11.141126,...,47.185230,14.858665,20.424177,18.862774,NaN,19.953396,28.469999,59.383240,15.505729,NaN
2010-01-20,64.819778,19.114040,NaN,8.48,35.030594,9.760238,36.490002,8.87,38.214054,10.809969,...,45.094578,14.817395,20.129810,18.910166,NaN,19.673546,28.240000,58.283379,16.239782,NaN

In [37]:
idx = pd.date_range('01-04-2010', end)


master.index = pd.DatetimeIndex(master.index)

master = master.reindex(idx, method ='ffill')

In [39]:
master.to_csv('master_timeseries.csv')